<li <?php if ($currentMenu == 'home') { echo 'class="current"'; } ?>>
    <a href="<?php echo $this->Html->url(array('home')) ?>" class="clearfix">
        <div class="fa fa-home"></div>
        <div>Accueil</div>
        <div class="fa fa-angle-right"></div>
    </a>
</li>