<?php $this->setLayout(\wilson\Config::get('path.root').DIRECTORY_SEPARATOR.'vendor/webup/builder/src/templates/layouts/html.phtml') ?>
<header class="header line">
    <div class="header__liseret"></div>

    <div class="menu-btn left">
        <i class="fa fa-bars"></i>
    </div>

    <h1 class="header__title left"><a href="<?php echo $water['headerUrl'] ?>" target="_blank"><?php echo $water['headerTitle'] ?></a></h1>

</header>

<?php echo $water['menu'] ?>

<?php echo $alert ?>
<section class="content">
    <?php echo $this->content(); ?>
</section>
