<h1 class="txtcenter"><?php echo _("Erreur") ?></h1>

<p class="txtcenter"><?php echo _("Nous sommes désolés, mais une erreur est survenue") ?></p>
<p class="txtcenter"><?php echo _("Nous mettons tout en œuvre pour résoudre ce problème. Merci de revenir un peu plus tard.") ?></p>

<?php
if (\wilson\Config::get('DEBUG')):
    echo '<br>File : ' . $exception->getFile() . ' line : ' . $exception->getLine() . '<br>';
    echo $exception->getMessage().'<br>';
    echo nl2br($exception->getTraceAsString());
endif;
?>
