<h1 class="txtcenter"><?php echo _("404") ?></h1>

<p class="txtcenter"><?php echo _("Nous sommes désolées, mais la page que vous recherchez n'existe pas.") ?></p>
<p class="txtcenter">
    <?php echo _("Vérifiez que vous avez bien entré l'adresse (URL) correctement dans votre navigateur.") ?><br>
    <?php echo _("Nous vous invitons à parcourir le site à l'aide du menu.") ?>
</p>