<?php
echo $this->water->title('Page Maker');
echo $this->water->boxOpen();
echo $this->water->boxTitle("Creation d'un controlleur et de ses vues (model : ".$_GET['modelFile'].".php et service : ".$_GET['serviceFile'].".php)");
    echo $this->water->boxContentOpen();
        echo $form->open(array('class'=> 'js-form'));
            ?>
            <?php echo $form->hidden('modelName',$_GET['modelFile']) ?>
            <?php echo $form->hidden('serviceName',$_GET['serviceFile']) ?>
            <div class="grid-2">
                <?php echo $form->text('fileName','Nom du controlleur',array("value" => $_GET['serviceFile'])) ?>
                <?php echo $form->text('pageTitle','Titre de la page',array("value" => $_GET['modelFile'])) ?>
            </div>
            <div class="grid-4">
                <div>
                    <?php echo $form->checkbox('allFunction',"Ajouter la fonction 'All'",array('data-show' => 'js-all-div')) ?>
                    <div class="js-all-div">
                        <?php echo $form->openFieldset(); ?>
                            <?php echo $form->legend('Affichage');?>
                            <?php echo $form->select('allType','Type de rendu',$types,array('class' => 'js-display-allType')) ?>
                        <?php echo $form->closeFieldset(); ?>
                        <div class="js-allType js-type-1">
                            <?php echo $form->openFieldset(); ?>
                                <?php echo $form->legend('Propriétés à afficher dans le tableau');?>
                                <?php foreach($modelProperties as $key => $modelPropertie) :?>
                                    <div class="grid-2">
                                    <div>
                                        <?php echo $form->checkbox('propertiesTable['.$modelPropertie.'][value]',$modelPropertie,array('data-show' => 'js-display-tableType-'.$modelPropertie)) ?>
                                        </div>
                                        <div class="js-display-tableType-<?php echo $modelPropertie ?>">
                                        <?php echo $form->select('propertiesTable['.$modelPropertie.'][type]',null,$tableTypes) ?>
                                        </div>
                                    </div>
                                <?php endforeach ?>
                            <?php echo $form->closeFieldset(); ?>
                        </div>
                        <div class="js-allType js-type-2">
                            <?php echo $form->openFieldset(); ?>
                                <?php echo $form->legend('Propriétés à afficher dans la grid');?>
                                <?php echo $form->select('propertiesGrid[media]','Media des items de grid',$modelProperties) ?>
                            <?php echo $form->closeFieldset(); ?>
                        </div>
                        <div class="js-allType js-type-3">
                            <?php echo $form->openFieldset(); ?>
                                <?php echo $form->legend('Propriétés à afficher dans la card');?>
                                <?php echo $form->select('propertiesCard[name]','Nom des items de card',$modelProperties) ?>
                                <?php echo $form->select('propertiesCard[url]','Url des items de card',$modelProperties) ?>
                            <?php echo $form->closeFieldset(); ?>
                        </div>
                        <?php echo $form->openFieldset(); ?>
                            <?php echo $form->legend('Affichage des bouttons');?>
                            <?php echo $form->checkbox('addButton',"Bouton 'Ajouter'",array('data-show' => 'js-add-button-label')) ?>
                            <div  class="js-add-button-label">
                                <?php echo $form->text('addButtonLabel',"Label du bouton 'Ajouter'",array("value" => 'Ajouter un élément')) ?>
                            </div>
                            <?php echo $form->checkbox('editButton',"Bouton 'Editer'") ?>
                            <?php echo $form->checkbox('deleteButton',"Bouton 'Supprimer'") ?>
                        <?php echo $form->closeFieldset(); ?>
                    </div>
                </div>
                <div>
                    <?php echo $form->checkbox('addFunction',"Ajouter la fonction 'Add'",array('data-show' => 'js-add-div')) ?>
                    <div class="js-add-div">
                        <?php echo $form->openFieldset(); ?>
                            <?php echo $form->legend('Propriétés de l\'objet');?>
                            <?php foreach($modelProperties as $key => $modelPropertie) :?>
                                <div class="grid-2">
                                    <div>
                                        <?php echo $form->checkbox('propertiesAdd['.$modelPropertie.'][value]',$modelPropertie,array('data-show' => 'js-display-addType-'.$modelPropertie)) ?>
                                    </div>
                                    <div class="js-display-addType-<?php echo $modelPropertie ?>">
                                        <?php echo $form->select('propertiesAdd['.$modelPropertie.'][type]',null,$propertyTypes) ?>
                                    </div>
                                </div>
                            <?php endforeach ?>
                        <?php echo $form->closeFieldset(); ?>
                    </div>
                </div>
                <div>
                    <?php echo $form->checkbox('editFunction',"Ajouter la fonction 'Edit'",array('data-show' => 'js-edit-div')) ?>
                    <div class="js-edit-div">
                        <?php echo $form->openFieldset(); ?>
                            <?php echo $form->legend('Propriétés de l\'objet');?>
                            <?php foreach($modelProperties as $key => $modelPropertie) :?>
                                <div class="grid-2">
                                    <div>
                                        <?php echo $form->checkbox('propertiesEdit['.$modelPropertie.'][value]',$modelPropertie,array('data-show' => 'js-display-editType-'.$modelPropertie)) ?>
                                    </div>
                                    <div class="js-display-editType-<?php echo $modelPropertie ?>">
                                        <?php echo $form->select('propertiesEdit['.$modelPropertie.'][type]',null,$propertyTypes) ?>
                                    </div>
                                </div>
                            <?php endforeach ?>
                        <?php echo $form->closeFieldset(); ?>
                    </div>
                </div>
                <div>
                    <?php echo $form->checkbox('deleteFunction',"Ajouter la fonction 'Delete'") ?>
                </div>
            </div>
            <?php echo $form->button('Créer',array('class'=> 'js-submit-form')); ?>
        <?php echo $form->close();
    echo $this->water->boxContentClose();
echo $this->water->boxClose();
?>
<script><?php include ($webrootPath.'javascript/makePage.js'); ?></script>
<style type="text/css">
    label{
        margin:0px;
    }
</style>