<?php
echo $this->water->title('Page Maker');
echo $this->water->boxOpen();
echo $this->water->boxTitle("Liste des models du projet");
    echo $this->water->boxContentOpen();
        foreach($files as $file):?>
            <fieldset>
                <legend>Model : <?php echo $file['modelFile'] ?> && Service : <?php echo $file['serviceFile'] ?></legend>
                <a href="<?php echo $this->Html->url(array('makePage.createController')).'?modelFile='.$file['modelFile'].'&serviceFile='.$file['serviceFile'] ?>" class="btn">Créer le controller</a>
            </fieldset>
        <?php endforeach;
    echo $this->water->boxContentClose();
echo $this->water->boxClose();
?>