
<?php
echo $this->water->title('Service Maker');
echo $this->water->boxOpen();
echo $this->water->boxTitle("Liste des models du projet");
    echo $this->water->boxContentOpen();
        echo $form->open(array('class'=> 'js-form')); ?>
            <?php foreach($modelsFiles as $model): ?>
                <?php echo $form->openFieldset(array('class' => 'js-fieldset')); ?>
                <?php echo $form->legend('Model : '.$model['file']);?>
                <div class="line js-parent-div">
                    <?php echo $form->checkbox($model['name'].'[create]', 'Créer le fichier',array('class' => 'js-checkbox')); ?>
                    <div class="js-hidden-div">
                        <?php echo $form->text($model['name'].'[text]', 'Nom du service : ',array('class' =>'js-service-name',
                                                                                                'data-service' => $model['name'],
                                                                                                'placeholder' => \builder\helpers\ServiceMakerHelper::formatServiceName($model['name']),
                                                                                                'value' => \builder\helpers\ServiceMakerHelper::formatServiceName($model['name']))) ?>
                        <label>.php</label>
                        <span class="js-disponibility" data-service="<?php echo $model['name'] ?>"></span>
                        <?php echo $form->hidden($model['name'].'[model]',null,array('value'=>$model['model'])) ?>
                    </div>
                </div>
                <?php echo $form->closeFieldset(); ?>
            <?php endforeach ?>
            <?php echo $form->button('Créer',array('class'=> 'js-submit-form')); ?>
        <?php echo $form->close();
    echo $this->water->boxContentClose();
echo $this->water->boxClose();
?>


<style>
    .line *{
        display:inline-block;
    }
    .line label{
        margin:0;
    }
</style>

<script><?php include ($webrootPath.'javascript/makeService.js'); ?></script>