
<?php
echo $this->water->title('Model Maker');
echo $this->water->boxOpen();
echo $this->water->boxTitle("Liste des tables dans la base de données");
    echo $this->water->boxContentOpen();
        echo $form->open(array('class'=> 'js-form')); ?>
            <?php foreach($tables as $tablename => $array): ?>
                <?php echo $form->openFieldset(array('class' => 'js-fieldset')); ?>
                <?php echo $form->legend('Table : '.$tablename);?>
                <div class="line js-parent-div">
                    <?php echo $form->checkbox($tablename.'[create]', 'Créer le fichier',array('class' => 'js-checkbox')); ?>
                    <div class="js-hidden-div">
                        <?php echo $form->text($tablename.'[text]', 'Nom du model : ',array('class' =>'js-model-name',
                                                                                         'data-table' => $tablename,
                                                                                         'placeholder' => \builder\helpers\ModelMakerHelper::formatModelName($tablename),
                                                                                         'value' => \builder\helpers\ModelMakerHelper::formatModelName($tablename))) ?>
                        <label>.php</label>
                        <span class="js-disponibility" data-table="<?php echo $tablename ?>"></span>
                        <?php echo $form->hidden($tablename.'[index]',null,array('value'=>$tablename)) ?>
                    </div>
                </div>
                <?php echo $form->closeFieldset(); ?>
            <?php endforeach ?>
            <?php echo $form->button('Créer',array('class'=> 'js-submit-form')); ?>
        <?php echo $form->close();
    echo $this->water->boxContentClose();
echo $this->water->boxClose();
?>
<br/><br/><br/>

<style>
    .line *{
        display:inline-block;
    }
    .line label{
        margin:0;
    }
</style>

<script><?php include ($webrootPath.'javascript/makeModel.js'); ?></script>